<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/site.css}">
    <link th:replace="~{components/base :: generes}">
    <link th:rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script th:replace="~{components/base :: jquery}"></script>
    <script th:replace="~{components/base :: popper}"></script>
    <script th:src="@{/js/form.js}"></script>
    <!--/*@thymesVar id="title" type="String"*/-->
    <title th:replace="${title}">Document</title>
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="cafe-500 fw-bold">llib<span class="cafe-200">Review</span></span>
        </a>
        <div class="collapse navbar-collapse" id="navbar-left">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/llibre">Llibres</a>
                <a class="nav-link" href="/genere">Gèneres</a>
                <a class="nav-link" href="/autor">Autors</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-right">
            <!--/*@thymesVar id="user" type="com.fpmislata.daw1.projectedaw1.domain.entity.User"*/-->
            <div class="navbar-nav ms-auto" th:if="${session.user==null}">
                <a class="nav-link" href="/login"><i class="fa-solid fa-circle-user"></i> Inicia sessió</a>
            </div>
            <div class="navbar-nav ms-auto" th:unless="${session.user==null}">
                <a class="nav-link" th:href="|/user/${session.user.username}|"><i class="fa-solid fa-circle-user"></i> <span th:text="${session.user.username}"></span></a>
                <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Tanca sessió</a>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer text-center p-3">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca">
        <img th:src="@{/img/license.png}" alt="Llicènia Reconeixement-NoComercial-CompartirIgual 4.0 Internacional">
    </a>
    <p>Llicència Reconeixement-NoComercial-CompartirIgual 4.0 Internacional</p>
</footer>

<link th:fragment="generes" th:rel="stylesheet" th:href="@{/css/genere.css}">

<script th:fragment="jquery" th:src="@{/js/jquery.min.js}"></script>
<script th:fragment="popper" th:src="@{/js/popper.min.js}"></script>
<script th:fragment="bootstrap" th:src="@{/js/bootstrap.min.js}"></script>