<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/site.css}">
    <link th:rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--/*@thymesVar id="title" type="String"*/-->
    <title th:replace="${title}">Document</title>
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="cafe-500 fw-bold">llib<span class="cafe-200">Review</span></span>
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/llibre">Llibres</a>
                <a class="nav-link" href="/genere">Gèneres</a>
                <a class="nav-link" href="/autor">Autors</a>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer text-center p-3">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca">
        <img th:src="@{/img/license.png}" alt="Llicènia Reconeixement-NoComercial-CompartirIgual 4.0 Internacional">
    </a>
    <p>Llicència Reconeixement-NoComercial-CompartirIgual 4.0 Internacional</p>
</footer>

<script th:fragment="jquery" th:src="@{/js/jquery.min.js}"></script>
<script th:fragment="popper" th:src="@{/js/popper.min.js}"></script>
<script th:fragment="bootstrap" th:src="@{/js/bootstrap.min.js}"></script>