<div th:fragment="llibre-card" class="llibre-overview">
    <!--/*@thymesVar id="card" type="CardItem"*/-->
    <a th:href="${card.getUrl()}">
        <img th:src="${card.getImatgeUrl()}" alt="" class="d-block mw-100 llibre-overview-img mx-auto">
        <div class="llibre-overview-description">
            <p th:text="${card.getTitol()}" class="card-titol"></p>
            <p th:text="${card.getSubtitol()}" class="card-subtitol"></p>
        </div>
    </a>
</div>

<div th:fragment="llibre-card-container" class="card-container d-flex justify-content-center gap-3">
    <!--/*@thymesVar id="llibres" type="List<Llibre>"*/-->
    <div th:each="card: ${cards}" class="">
        <div th:replace="~{components/cards :: llibre-card(card=${card})}"></div>
    </div>
</div>