<div th:fragment="rating-stars(roundedAverageRating)" class="d-flex justify-content-center align-content-center">
    <div class="rating-star-container border border-cafe-500">
        <i class="fa fa-star" th:each="i : ${#numbers.sequence(0, 9)}" th:classappend="${roundedAverageRating >= i + 1} ? 'rating-star-color'"></i>
    </div>
</div>

<div th:fragment="rating(numberRatings, averageRating, roundedAverageRating)" class="rating-container bg-cafe-100 border border-cafe-500 rounded-3">
    <div th:replace="~{components/rating :: rating-stars(roundedAverageRating=${roundedAverageRating})}"></div>
    <div class="d-flex justify-content-center mt-2 gap-3">
        <div class="rating-value fw-bold" th:text="${numberRatings > 0} ? ${#numbers.formatDecimal(averageRating, 1, 1)} : '-'"></div>
        <div class="rating-count " th:if="${numberRatings > 0}" th:text="|${numberRatings} valoracions|"></div>
        <div class="rating-count " th:unless="${numberRatings > 0}">No hi ha valoracions</div>
    </div>
</div>

<div th:fragment="my-rating(isbn, rating)" class="my-rating-container bg-cafe-100 border border-cafe-500 rounded-3 text-center p-2">
    <!--/*@thymesVar id="rating" type="com.fpmislata.daw1.projectedaw1.domain.entity.Rating"*/-->
    <form th:action="@{/rating}" method="post">
        <input type="hidden" name="isbn" th:value="${isbn}">
        <label class="cafe-800 mb-2" for="my-rating">La teua valoració</label>
        <select class="form-select" name="my-rating" id="my-rating" th:with="ratingNumber=${rating?.rating}">
            <option value="-1" th:selected="${ratingNumber == null}">No vista</option>
            <option value="10" th:selected="${ratingNumber == 10}">10 - Excel·lent</option>
            <option value="9" th:selected="${ratingNumber == 9}">9 - Molt bona</option>
            <option value="8" th:selected="${ratingNumber == 8}">8 - Notable</option>
            <option value="7" th:selected="${ratingNumber == 7}">7 - Bona</option>
            <option value="6" th:selected="${ratingNumber == 6}">6 - Interessant</option>
            <option value="5" th:selected="${ratingNumber == 5}">5 - Acceptable</option>
            <option value="4" th:selected="${ratingNumber == 4}">4 - Regular</option>
            <option value="3" th:selected="${ratingNumber == 3}">3 - Fluixa</option>
            <option value="2" th:selected="${ratingNumber == 2}">2 - Roïn</option>
            <option value="0" th:selected="${ratingNumber == 1}">1 - Molt roïn</option>
        </select>
        <div class="my-rating-date mt-2" th:if="${rating != null}" th:text="|${#temporals.format(rating?.date, 'dd/MM/yyyy')}|"></div>
        <button class="btn btn-primary mt-2" type="submit">Valora</button>
    </form>
</div>