<!--/*@thymesVar id="valoracio" type="com.fpmislata.daw1.projectedaw1.domain.entity.Valoracio"*/-->
<div th:fragment="ressenya(valoracio)" class="p-3 shadow" th:with="ressenya = ${valoracio.ressenya}, is_owner=${session.user != null and session.user == valoracio.usuari}" th:classappend="${false} ? 'bg-info bg-opacity-25'">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <div class="d-flex gap-2">
                <div class="ressenya-title fw-medium"><i class="fa-solid fa-circle-user"></i> <span th:text="${valoracio.usuari.username}"></span></div>
                <div class="ressenya-data text-secondary" th:text="${#temporals.format(ressenya.data, 'dd/MM/yyyy')}"></div>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
            <div th:replace="~{components/valoracio :: valoracio-stars(valoracio=${valoracio.valoracio})}"></div>
            <div class="valoracio-value bg-cafe-500 fw-bold rounded-3" th:text="${valoracio.valoracio}"></div>
        </div>
    </div>
    <div class="mt-2" th:text="${ressenya.comentari}"></div>
    <div th:unless="${is_owner}">
        <hr class="my cafe-500 opacity-50">
        <div class="ressenya-util d-flex justify-content-end align-items-center gap-1">
            <div>T'ha resultat interessant?</div>
            <button class="btn btn-outline-success p-1"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="btn btn-outline-danger p-1"><i class="fa-solid fa-thumbs-down"></i></button>
        </div>
    </div>
</div>

<div th:fragment="ressenyes-destacades(valoracions)" class="ressenyes-container mt-4">
    <p class="h5">Ressenyes destacades</p>
    <div th:each="valoracio: ${valoracions}" th:remove="tag">
        <div class="mb-2">
            <div th:replace="~{components/ressenyes :: ressenya(valoracio=${valoracio})}" class=""></div>
        </div>
    </div>
    <div class="text-center mt-2" th:if="${valoracions.size() > 2}">
        <a class="text-decoration-none fw-bold" href="">Veure totes les ressenyes</a>
    </div>
</div>

<div th:fragment="ressenya-usuari(valoracio)" class="">
    <p class="h5">La teua ressenya</p>
    <div th:unless="${valoracio == null}" th:with="ressenya=${valoracio?.ressenya}" th:remove="tag">
        <div th:unless="${ressenya == null}" th:remove="tag">
            <div th:replace="~{components/ressenyes :: ressenya(valoracio=${valoracio})}" class=""></div>
        </div>
        <div th:if="${ressenya == null}" th:remove="tag">
            <p class="text-center">No has escrit una ressenya</p>
        </div>
    </div>
</div>