<div th:fragment="valoracio-card(card)" class="card-item">
    <!--/*@thymesVar id="card" type="com.fpmislata.daw1.projectedaw1.controller.components.valoraciocard.ValoracioCard"*/-->
    <a th:href="${card.url}">
        <img th:src="${card.imatgeUrl}" alt="" class="d-block mw-100 card-item-img mx-auto">
    </a>
</div>

<div th:fragment="valoracio-card-container(cards, classes)" class="card-container d-flex flex-wrap gap-3" th:classappend="${classes} ?: ''">
    <!--/*@thymesVar id="cards" type="List<com.fpmislata.daw1.projectedaw1.controller.components.valoraciocard.ValoracioCard>"*/-->
    <div th:each="card: ${cards}" class="">
        <div th:replace="~{components/valoracio-cards :: valoracio-card(card=${card})}"></div>
    </div>
</div>