<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::main})}">
<!--/*@thymesVar id="llibre" type="com.fpmislata.daw1.projectedaw1.domain.entity.Llibre"*/-->
    <head>
        <title th:text="${llibre.getTitol()}"></title>
    </head>
    <body>
        <main class="">
            <h1 class="text-center my-4" th:text="${llibre.getTitol()}"></h1>
            <div class="left-sidebar">
                <div>
                    <img th:src="|/img/llibre/${llibre.getRutaImatge()}|" alt="" class="d-block mx-auto w-100">
                    <div class="mt-3">
                        <div th:replace="~{components/valoracio :: valoracio(stats=${llibre.getValoracioStats()})}"></div>
                    </div>
                    <div class="mt-3" th:unless="${session.user==null}">
                        <form th:action="@{/valoracio}" method="post">
                            <input type="hidden" name="isbn" th:value="${isbn}">
                            <div th:replace="~{components/valoracio :: my-valoracio(isbn=${llibre.isbn}, valoracio=${llibre.getValoracioFromUser(session.user)})}" class="mt-5 d-flex justify-content-between align-items-center"></div>
                            <button class="btn btn-primary mt-2" type="submit">Valora</button>
                        </form>
                    </div>
                </div>
                <div>
                    <dl class="llibre-info">
                        <dt>ISBN</dt>
                        <dd th:text="${llibre.isbn}"></dd>
                        <dt th:text="#{data-publicacio}"></dt>
                        <dd th:text="${#temporals.format(llibre.dataPublicacio, 'dd/MM/yyyy')}"></dd>
                        <dt th:text="#{nombre-pagines}"></dt>
                        <dd th:text="${llibre.nombrePagines}"></dd>
                        <dt th:text="#{resum}"></dt>
                        <dd th:text="${llibre.resum}"></dd>
                        <dt th:text="#{generes}"></dt>
                        <dd class="d-flex flex-wrap gap-2">
                            <a th:each="genere: ${generes}" th:text="${genere.nom}" th:href="|/genere/${genere.id}|" th:classappend="|genere-${genere.id}|" class="badge genere" style="font-size: 0.8rem"></a>
                        </dd>
                        <dt th:text="#{autors}"></dt>
                        <dd>
                            <div th:replace="~{components/cards :: card-container(cards=${autors}, classes='justify-content-start')}"></div>
                        </dd>
                    </dl>
                    <div class="mt-3" th:unless="${session.user==null}">
                        <div th:replace="~{components/ressenyes :: ressenya-usuari(isbn=${isbn}, valoracio=${llibre.getValoracioFromUser(session.user)})}"></div>
                    </div>
                    <div th:if="${valoracionsAmbRessenya.size() > 0}" th:remove="tag">
                        <div th:replace="~{components/ressenyes :: ressenyes-destacades(valoracions=${valoracionsAmbRessenya})}" class=""></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>