<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::main})}" lang="ca">
    <head>
        <!--/*@thymesVar id="autor" type="Autor"*/-->
        <title th:text="${autor.nom}"></title>
    </head>
    <body>
        <main class="">
            <h1 class="text-center my-4" th:text="${autor.nom}"></h1>
            <div class="row row-cols-1 row-cols-xl-2">
                <div class="col col-xl-4">
                    <img th:src="|/files/autor/${autor.rutaImatge}|" alt="" class="d-block mx-auto w-100 rounded shadow-sm">
                </div>
                <div class="col col-xl-8">
                    <dl class="llibre-info">
                        <dt th:text="#{data-naixement}"></dt>
                        <dd th:text="${#temporals.format(autor.dataNaixement, 'dd/MM/yyyy')}"></dd>
                        <dt th:text="#{biografia}"></dt>
                        <dd th:text="${autor.biografia}"></dd>
                        <dt th:text="#{llibres}"></dt>
                        <dd>
                            <div th:replace="~{components/cards :: card-container(cards=${llibres}, classes='justify-content-start hover')}"></div>
                        </dd>
                    </dl>
                </div>
            </div>
        </main>
    </body>
</html>