.card-item {
    box-shadow: 2px 3px 4px #BBBBBB;
    border-radius: 5px;
    position: relative;
    height: 300px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.card-item.hover:hover {
    transform: scale(1.05);
}

img.card-item-img {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-container.hover .card-item:hover {
    transform: scale(1.05);
}

.card-item-description {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    background: var(--cafe-600);
    opacity: 0.9;
    text-wrap: pretty;
    margin: 0;
    padding: 4px;
}

.card-item-description p {
    margin: 0;
}
.card-item a {
    text-decoration: unset;
    color: var(--white);
}
.card-item-titol {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.card-item-subtitol {
    font-size: 0.8em;
}