.genere {
    text-decoration: none;
    box-shadow: 2px 3px 4px #BBBBBB;
    border-radius: 5px;
}
.genere-1 /* Ficció literària */{
    background-color: #AAD7D9;
}
.genere-2 /* Narrativa */{
    background-color: #75A47F;
}
.genere-3 /* Ciència ficció */{
    background-color: #AD88C6;
}
