:root {
    --cafe-50: #f9f6f1;
    --cafe-50-rgb: 249, 246, 241;
    --cafe-100: #efe4d6;
    --cafe-100-rgb: 239, 228, 214;
    --cafe-200: #ddc7aa;
    --cafe-200-rgb: 221, 199, 170;
    --cafe-300: #cba67e;
    --cafe-300-rgb: 203, 166, 126;
    --cafe-400: #be8d61;
    --cafe-400-rgb: 190, 141, 97;
    --cafe-500: #b4764f;
    --cafe-500-rgb: 180, 118, 79;
    --cafe-600: #9e5c41;
    --cafe-600-rgb: 158, 92, 65;
    --cafe-700: #844739;
    --cafe-700-rgb: 132, 71, 57;
    --cafe-800: #6d3b33;
    --cafe-800-rgb: 109, 59, 51;
    --cafe-900: #5a322d;
    --cafe-900-rgb: 90, 50, 45;
    --cafe-950: #321916;
    --white: var(--cafe-50);
    --bs-link-color-rgb: var(--cafe-500-rgb);
    --bs-link-hover-color-rgb: var(--cafe-700-rgb);
}

.bg-white {
    background-color: var(--white);
}
.bg-cafe-50 {
    background-color: var(--cafe-50);
}
.bg-cafe-100 {
    background-color: var(--cafe-100);
}
.bg-cafe-200 {
    background-color: var(--cafe-200);
}
.bg-cafe-300 {
    background-color: var(--cafe-300);
}
.bg-cafe-400 {
    background-color: var(--cafe-400);
}
.bg-cafe-500 {
    background-color: var(--cafe-500);
}
.bg-cafe-600 {
    background-color: var(--cafe-600);
}
.bg-cafe-700 {
    background-color: var(--cafe-700);
}
.bg-cafe-800 {
    background-color: var(--cafe-800);
}
.bg-cafe-900 {
    background-color: var(--cafe-900);
}
.bg-cafe-950 {
    background-color: var(--cafe-950);
}

.white {
    color: var(--white);
}
.cafe-50 {
    color: var(--cafe-50);
}
.cafe-100 {
    color: var(--cafe-100);
}
.cafe-200 {
    color: var(--cafe-200);
}
.cafe-300 {
    color: var(--cafe-300);
}
.cafe-400 {
    color: var(--cafe-400);
}
.cafe-500 {
    color: var(--cafe-500);
}
.cafe-600 {
    color: var(--cafe-600);
}
.cafe-700 {
    color: var(--cafe-700);
}
.cafe-800 {
    color: var(--cafe-800);
}
.cafe-900 {
    color: var(--cafe-900);
}
.cafe-950 {
    color: var(--cafe-950);
}

.border-cafe-50 {
    --bs-border-color: var(--cafe-50);
}
.border-cafe-100 {
    --bs-border-color: var(--cafe-100);
}
.border-cafe-200 {
    --bs-border-color: var(--cafe-200);
}
.border-cafe-300 {
    --bs-border-color: var(--cafe-300);
}
.border-cafe-400 {
    --bs-border-color: var(--cafe-400);
}
.border-cafe-500 {
    --bs-border-color: var(--cafe-500);
}
.border-cafe-600 {
    --bs-border-color: var(--cafe-600);
}
.border-cafe-700 {
    --bs-border-color: var(--cafe-700);
}
.border-cafe-800 {
    --bs-border-color: var(--cafe-800);
}
.border-cafe-900 {
    --bs-border-color: var(--cafe-900);
}
.border-cafe-950 {
    --bs-border-color: var(--cafe-950);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--cafe-500);
    --bs-btn-border-color: var(--cafe-500);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--cafe-600);
    --bs-btn-hover-border-color: var(--cafe-600);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--cafe-700);
    --bs-btn-active-border-color: var(--cafe-700);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--cafe-300);
    --bs-btn-disabled-border-color: var(--cafe-400);
}
.btn-outline-primary {
    --bs-btn-color: var(--cafe-500);;
    --bs-btn-border-color: var(--cafe-500);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--cafe-500);
    --bs-btn-hover-border-color: var(--cafe-500);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--cafe-500);
    --bs-btn-active-border-color: var(--cafe-500);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--cafe-500);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--cafe-500);
}
.btn.active.disabled {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color)
}
.btn.disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.form-control:focus, .form-select:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--cafe-400);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--cafe-700-rgb), 0.25);
}

.navbar {
    background-color: var(--cafe-800);
}
.nav-link {
    color: var(--white);
}
.navbar-brand:hover, .nav-link:hover {
    color: var(--cafe-200);
    text-decoration: none;
}
.navbar-toggler {
    background-color: var(--cafe-700);
}
.footer {
    background-color: var(--cafe-900);
    font-size: 10px;
    color: var(--white);
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    margin-bottom: 0.7em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.mx-n3 {
    margin-left: -1rem;
    margin-right: -1rem;
}
.fs-7 {
    font-size: 0.875rem;
}
.fs-8 {
    font-size: 0.8rem;
}

.card-item {
    box-shadow: 2px 3px 4px #BBBBBB;
    border-radius: 5px;
    position: relative;
    height: 300px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.card-item:hover {
    text-decoration: none;
    transform: scale(1.05);
}

img.card-item-img {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-item-description {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    background: var(--cafe-600);
    opacity: 0.9;
    text-wrap: pretty;
    margin: 0;
    padding: 4px;
}

.card-item-description p {
    margin: 0;
}
.card-item a {
    text-decoration: unset;
    color: var(--white);
}
.card-item-titol {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.card-item-subtitol {
    font-size: 0.8em;
}

.text-justify {
    text-align: justify !important;
}

.valoracio-container {
    padding: 0.5em;
}

.valoracio-star-container {
    color:#cecece;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em;
    border-radius: 10px;
}
.valoracio-star-container i {
    text-shadow: 0 0 2px var(--cafe-950);
}
.valoracio-star-color {
    color: #fbc634 !important;
}
.valoracio-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    padding: 0.25em;
    color: var(--white);
    width: 2.5em;
}

.valoracio-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    color: var(--cafe-800);
}

.my-valoracio-date {
    font-size: 0.8em;
}

.valoracio-chart {
    min-width: 100px;
}
.valoracio-bar {
    --valoracio-bar-font-size: 10px;
    --valoracio-bar-height: 12px;
    font-size: var(--valoracio-bar-font-size);
    line-height: var(--valoracio-bar-font-size);
}
.valoracio-bar .progress {
    --bs-progress-height: var(--valoracio-bar-height);
    --bs-progress-font-size: var(--valoracio-bar-font-size);
    --bs-progress-bar-bg: var(--cafe-500);
    margin-bottom: 2px;
    border: var(--cafe-500) 1px solid;
}
.valoracio-bar .progress .progress-bar {
    border-radius: var(--bs-border-radius)!important;
}
.valoracio-bar-label {
    text-align: end;
    width: 32px;
}

.ressenya-data {
    font-size: 0.8rem;
}
.ressenya-footer {
    font-size: 0.8rem;
}
.ressenya-footer .btn {
    --bs-btn-font-size: 0.8rem;
}
.shadow-sm {
    box-shadow: 2px 3px 4px #BBBBBB !important;
}
.ressenya-llibre-cover {
    max-height: 200px;
}

dt {
    margin-bottom: 0.5rem;
}
dd {
    margin-bottom: 1rem;
}
