<!DOCTYPE html>
    <html>
        <head th:replace="~{components/base :: head}">
    </head>
    <body>
        <nav th:replace="~{components/base:: menu}"></nav>
        <h3 class="text-center mt-5">Últims llibres</h3>
        <h3 class="text-center mt-5">Més llegits</h3>
        <h3 class="text-center mt-5">Millor valorats</h3>
        <footer th:replace="~{components/base :: footer}"></footer>
        <script th:replace="~{components/base :: jquery}"></script>
        <script th:replace="~{components/base :: popper}"></script>
        <script th:replace="~{components/base :: bootstrap}"></script>
    </body>
</html>