<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::main})}">
    <head>
        <title>llibReview</title>
    </head>
    <body>
        <main class="">
            <h3 class="text-center my-4 ">Últims llibres</h3>
            <div th:replace="~{components/cards :: card-container(cards=${ultimsLlibres}, classes=justify-content-center)}"></div>
            <h3 class="text-center my-4">Més llegits</h3>
            <div th:replace="~{components/cards :: card-container(cards=${mesLlegits}, classes=justify-content-center)}"></div>
            <h3 class="text-center my-4">Millor valorats</h3>
            <div th:replace="~{components/cards :: card-container(cards=${millorValorats}, classes=justify-content-center)}"></div>
        </main>
    </body>
</html>