<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::main})}">
    <head>
        <title>LlibReview</title>
    </head>
    <body>
        <main class="container">
            <h3 class="text-center my-4 ">Últims llibres</h3>
            <div th:replace="~{components/cards :: llibre-card-container(cards=${ultimsLlibres})}"></div>
            <h3 class="text-center my-4">Més llegits</h3>
            <h3 class="text-center my-4">Millor valorats</h3>
        </main>
    </body>
</html>