<!DOCTYPE html>
<html th:replace="~{layouts/layout :: layout(~{::title}, ~{::main})}">
<!--/*@thymesVar id="llibre" type="com.fpmislata.daw1.projectedaw1.domain.entity.Llibre"*/-->
    <head>
        <title th:text="Login"></title>
    </head>
    <body>
        <main class="">
            <div class="d-flex justify-content-center">
                <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="username">Nom d'usuari</label>
                        <input type="email" id="username" name="username" class="form-control" />
                    </div>

                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="password">Contrasenya</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>


                    <div class="text-center mb-3">
                        <!-- Simple link -->
                        <a href="#!">Has oblidat la contrasenya?</a>
                    </div>

                    <div class="text-center">
                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Inicia sessió</button>
                    </div>

                    <div class="text-center">
                        <p>No eres membre? <a href="/register">Registra't</a>!</p>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>